// section editor
.editor {
    padding: 129px 0 70px 0;

    &__title {
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        color: #635C73;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: $tablet) {
            font-size: 42px;
        }
        @media (max-width: $mobile) {
            font-size: 26px;
            line-height: 107%;
        }
    }

    &__text {
        font-family: 'Lato', sans-serif;
        font-size: 21px;
        line-height: 152%;
        color: #323232;
        margin: 35px auto 0 auto;
        max-width: 861px;
        text-align: center;
        @media (max-width: $tablet) {
            max-width: 689px;
            margin-top: 33px;
        }
        @media (max-width: $mobile) {
            margin-top: 27px;
            font-size: 14px;
            line-height: 142%;
            margin-top: 36px;
            max-width: 276px;
        }
    }

    &__buttons {
        margin-top: 13px;
        display: flex;
        justify-content: center;
        column-gap: 10px;
        @media (max-width: $tablet) {
            margin-top: 24px;
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }

    &__button {
        font-size: 12px;
        font-weight: 700;
        color: #24292f;
        background-color: $accent-color;
        border-radius: 5px;
        border: 1px solid rgba(27,31,36,0.15);
    }
}
.editor-button {
    @include flex-center;
    padding: 5px 10px;
    svg {
        fill: #656d76;
    }
    &:hover {
        background-color: #f3f4f6;
    }
    &__text {
        margin-left: 5px;
    }

    &__number {
        border-radius: 50%;
        background-color: rgba(27,31,36,0.08);
        width: 20px;
        height: 20px;
        margin-left: 5px;
        @include flex-center;
    }

    &__dropdown {
        margin-left: 5px;
        height: 0;
        width: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #333;
    }
}