@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    min-width: 119px;
    height: 37px;
    color: $accent-color;
    text-decoration: none;
    @include fontMontserrat(700, 15px, 15px);
    background-color: $primary-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

@mixin fontLato($weight, $size, $line) {
    font-family: "Lato";
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
}


@mixin fontMontserrat($weight, $size, $line) {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
}

