@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Montserrat:wght@400;700&display=swap');
@import "./variables";
@import "./mixins";

@import "./header";


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  
}

body{
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}