$mobile: 480px;
$tablet: 992px;
$pc: 1200px;
$maxWidth: 1170px;
$mainFF: 'Montserrat', sans-serif;
$secondaryFF: 'Lato', sans-serif;
$fz: 16px;
$mainColor: #fff;
$secondaryColor: #8D81AC;
$mainBackground: #fff;